!!! 5
- var slug = page.title.toLowerCase().replace(/\s+/g, '-')
html(lang='en', class=slug)
  head
    meta(charset='utf-8')
    title= locals.title + " - " + page.title

    link(href='css/page.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.min.css")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', type='text/javascript')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.2/coffee-script.min.js', type='text/javascript')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js', type='text/javascript')
    script(src='js/pages.js', type='text/javascript')


  body
    .gutter
      header
        h1!= locals.title
        h2!= locals.version

      h1!= page.title
      != page.html

