!!! 5
- var slug = page.title.toLowerCase().replace(/\s+/g, '-')
html(lang='en', class=slug)
  head
    meta(charset='utf-8')
    title= locals.title + " - " + page.title

    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css")
    link(href='css/caniuse.css', rel='stylesheet', type='text/css')
    link(href='css/page.css', rel='stylesheet', type='text/css')

    script(src='http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.2/coffee-script.min.js', type='text/javascript')



  body
    #layout.pure-g-r.content
      #nav.pure-u
        a.nav-menu-button(href='#') Menu

        header
          h1!= locals.title
          h2!= locals.version

        .nav-inner
          .pure-menu.pure-menu-open
            ul
              li
                a(href='.') Home
              li
                a(href='.#download') Download
              - var items = {examples: 'Writing Tests', tools: 'Tests Tools', extend: 'Extend Spectacular', tests: 'Online Test Tool', changelog: 'ChangeLog', previous: 'Archives'}
              each val, key in items
                li
                  a(href='./'+ key + '.html')= val

          hr
          a.fork(href="https://github.com/abe33/spectacular")
            i.icon-github
            = 'Fork me on GitHub'

          .badges
            a(href="https://travis-ci.org/abe33/spectacular")
              img(src="https://travis-ci.org/abe33/spectacular.png", alt="Build Status")
            a(href="https://coveralls.io/r/abe33/spectacular?branch=master")
              img(src="https://coveralls.io/repos/abe33/spectacular/badge.png?branch=master", alt="Coverage Status")
            a(href="https://gemnasium.com/abe33/spectacular")
              img(src="https://gemnasium.com/abe33/spectacular.png", alt="Dependency Status")
            a(href="http://badge.fury.io/js/spectacular")
              img(src="https://badge.fury.io/js/spectacular.png", alt="NPM version")

      #list.pure-u-1
        nav#toc

      #main.pure-u-1
        .gutter
          h1!= page.title
          != page.html

      script(src='js/caniuse.js', type='text/javascript')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', type='text/javascript')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js', type='text/javascript')

    script(src='js/pages.js', type='text/javascript')

